@font-face {
  font-family: 'JetBrains Mono';
  src: url('../fonts/JetBrainsMono-Regular.ttf') format('truetype');
}

:root {
  --background: #121212;
  --shape: #ffffff;
  --tag1: #e52e4d;
  --tag2: #5429cc;
  --tag3: #33cc95;
  --tag4: #ff872c;
  --tag5: #6933ff;
  --tag6: #e5e52e;
  --blue-light: #6933ff;
  --text-title: #363f5f;
  --text-body: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--background);
  font-family: 'JetBrains Mono', monospace;
  font-size: 12px;
  color: var(--text-body);
}

.terminal {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.terminal .terminal-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2rem;
  overflow: normal;
  overflow-y: scroll;
}

.terminal-cr,
.terminal-user-name, cr {
  color: var(--tag1);
}
.terminal-cg, cg {
  color: var(--tag3);
}
.terminal-cb, cb {
  color: var(--tag2);
}
.terminal-cp, cp {
  color: var(--tag5);
}
.terminal-cy,
.terminal-dir, cy {
  color: var(--tag6);
}
.terminal-co,
.terminal-dir, co {
  color: var(--tag4);
}
